body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.login-container {
    text-align: center;
}
.login-container img {
    width: 150px;
    margin-bottom: 30px;
}
.form-control {
    border-radius: 50px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.form-label {
    font-size: 1.2rem;
    margin-right: 10px;
}
.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.form-group img {
    margin-right: 20px;
}
.btn-custom button {
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}
.btn-custom button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.btn-custom a {
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}
.btn-custom a:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}