body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100vw;
    overflow: hidden;
}
.form-container {
    background: rgba(255, 255, 255, 0.1); /* White with transparency */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(15px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance glass effect */
}
.form-container h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.form-container img {
    display: block;
    margin: 0 auto 20px;
}
.form-container .form-label {
    font-weight: bold;
    color: white;
}
.form-container .btn {
    width: 100%;
    font-weight: bold;
}