<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/StyleHome.css">
    <title>home</title>
</head>
<body>
    <head>
        <H1>Bem-Vindos !</H1>
    </head>
    <main>
        <img src="" alt="placeholder" width="150px" height="150px">
    </main>
    <footer>
        <a href="#">
            <h2>Desenvolvimento Fernando Junior</h2>
        </a>
    </footer>
</body>
<script src="/static/index.js"></script>
</html>