<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/StyleLogin.css">
    <title>Login</title>
</head>
<body>
    <form action="/" method="POST">
        Email: <input type=" text" name="email"><br>
        Senha: <input type="password" name="password">
        <input type="submit">
    </form>
    <form action="{{ url_for('cadastro_page') }}" method="get">
        <button type="submit">Cadastrar</button> 
</body>
<script type="module" src="/main.js"></script>
</html>